<% var boundaryChecks=$.isArray(this)?this: [this] %>
<% $.each(boundaryChecks, function(index, boundaryCheck) { %>
<div class="inner-section">
	<div class="section_head">
        <div class="hide_button"></div>
        <div class="section_title">
        	Boundary Check
        </div>
    </div>
	<div class="inner-header">
		<p>
			Boundary Check Info: <span class="value"><%= boundaryCheck.info %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Boundary Check Time: <span class="value"><%= boundaryCheck.time %></span>
		</p>
	</div>
	<div class="section_content">
		<%== can.view.render("ejs/stack.ejs", boundaryCheck.stack) %>
	</div>
</div>
<% }) %>