<div>
    <div class="section_head">
        <div class="hide_button"></div>
        <h<%= this.level %> class="section_title">
        	<%= this.title %>
        </h<%= this.level %>>
    </div>
    <div class="section_content">
    </div>
</div>