body>* {
	width: 85%;
	margin: auto;
	margin-bottom: 5px;
}

.name {
	width: 40%;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 15px;
	font-weight: bold;
}

.file {
	width: 400px;
	height: 50px;
	margin: auto;
	margin-top: 30px;
}

.file>* {
	vertical-align: middle;
}

.file-name {
	height: 33px;
	font-size: 20px;
}

.separator {
	height: 2px;
	background: gray;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.3;
}

.summary h2 {
	margin-bottom: 20px;
	display: block;
}

.hide {
	display: none;
}

.value {
	width: 60%;
	color: #2B76A3;
}

.hide_button {
	float: right;
	background: url(../images/icon_sprite.svg) 0 -3350px no-repeat;
	height: 10px;
	width: 20px;
	margin-right: 3px;
	margin-top: 8px;
	opacity: 0.5;
}

.memory-consume-section {
	border: solid 1px #ddd;
	margin-top: 5px;
	margin-bottom: 5px;
}

.hide_button.section_hide {
	background: url(../images/icon_sprite.svg) 0 -3400px no-repeat;
}

.section_title {
	margin-left: 5px;
	margin-top: 0px;
}

.section_head {
	margin-bottom: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.stack .section_head {
	background-color: #BEBEBE;
	border-color: #CECECE;
	border-width: 1px 0px 1px 0px;
	background-image: -moz-linear-gradient(top, #F3F3F3, #D6D6D6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F3F3F3), to(#D6D6D6));
	background-image: -webkit-linear-gradient(top, #F3F3F3, #D6D6D6);
	background-image: -o-linear-gradient(top, #F3F3F3, #D6D6D6);
	background-image: linear-gradient(to bottom, #F3F3F3, #D6D6D6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF3F3F3', endColorstr='#ffD6D6D6', GradientType=0);
}

.section_content {
	width: 98%;
	margin: auto;
}

.summary .manage-memory {
	width: 48%;
	float: left;
}

.summary .raw-memory {
	width: 48%;
	float: right;
}

.summary .pool {
	clear: both;
}

.pool-table-container {
	height: 600px;
	overflow-y: scroll;
}

.summary .pool table {
	width: 96%;
	margin: auto;
}

.summary .summary-pie {
	clear: both;
}

.summary .summary-pie .manage-pie {
	width: 48%;
	float: left;
}

.summary .summary-pie .raw-pie {
	width: 48%;
	margin-left: 52%;
}

.stack {
	display: inline-block;
	width: 48%;
	border: solid 1px #ddd;
	margin-bottom: 3px;
	margin-left: 3px;
	padding-bottom: 3px;
}

.stack h3 {
	margin-left: 3px;
}

.stack .hide_button {
	margin-top: 5px;
}

.stack .section_content {
	width: 98%;
}

.stack .section_head .section_title, .inner-section .section_head .section_title {
	font-size: 15px;
	font-weight: bold;
}

.inner-header {
	font-size: 15px;
	font-weight: bold;
	margin-left: 1%;
}

.inner-section {
	border: solid 1px #ddd;
	margin-bottom: 5px;
}