<% var errors=$.isArray(this)?this: [this] %>
<% $.each(errors, function(index, error) { %>
<div class="inner-section">
	<div class="inner-header">
		<p>
			Error Info: <span class="value"><%= error.info %></span>
		</p>
		<p>
			Error Time: <span class="value"><%= error.time %></span>
		</p>
	</div>
	<div class="boundary-stacks">
		<%== can.view.render("ejs/stack.ejs", error.stack) %>
	</div>
</div>
<% }) %>